.watch-bg {
	min-height: 300px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: gray;
}


.watches-box {
	padding: 70px 0;
	background: #E5FFC3;
  }
  .section-title h1 {
	font-weight: 700;
  }
  .section-title {
	position: relative;
  }
  .section-title::before, .section-title::after {
	content: "";
	position: absolute;
	bottom: -21px;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	height: 4px;
	background: #9ce300;
  }
  .sub-title {
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 40px;
	margin-top: 60px;
  }
  .single-watch-product {
	position: relative;
	min-height: 474px;
	overflow: hidden;
	margin-bottom: 35px;
  }
  .add-to-cart {
	position: absolute;
	right: 3px;
	top: 10px;
	transform: translateX(149px);
	transition: .3s;
	opacity: 0;
  }
  .single-watch-product:hover .add-to-cart {
	transform: translateX(0px);
	opacity: 1;
  }
  .single-watch-product .content {
	background: #8BC53F;
	padding: 13px 13px;
  }
  .single-watch-product .content h2 {
	font-size: 25px;
	font-weight: 600;
  }
  .content {
  }
  .single-watch-product .content span {
	color: white;
	background: red;
	display: inline-block;
	padding: 7px 21px;
	font-weight: 600;
  }

  
.add-to-cart span {
	padding-right: 10px;
  }
  .single-selected-watch {
	margin-bottom: 20px;
	position: relative;
}
.single-selected-watch button {
	display: inline-block;
	position: absolute;
	right: 0;
	top:4px;
	padding: 6px;
	border: 1px solid black;
}

  
.single-selected-watch span {
	font-weight: 600;
  }
  .selected-watches-buttons {
	display: flex;
	flex-direction: column;
  }
  .selected-watches-buttons button {
	margin-bottom: 18px;
	padding: 20px;
	text-transform: uppercase;
  }
  .selected-watches-buttons button:first-child {
	background: #8BC53F;
	border-color: #8BC53F;
  }

  .single-question h1 {
	font-size: 28px;
	font-weight: 600;
	margin-bottom: 18px;
	color: red;
	margin-top: 30px;
}

.SingleSelectedWatchImg{
    width:50px;
    height: 50px;
}
.modal-watch-img img {
    width: 196px;
}
.modal-header {
    flex-direction: column;
}
